body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#prime-display {
  font-size: 25vw; /* Responsive font size based on viewport width */
  color: white;
  user-select: none;
  text-align: center;
  line-height: 1; /* Adjust line height for better vertical centering */
}
